.*
!.gitignore

# Rust dev assets
target/

# nodejs dev assets
node_modules/

# JS will be compiled from .ts 
frontend/web-folder/js


frontend/package.json
frontend/node_modules
frontend/node_modules/
